importFrom("stats", "runif")
importFrom("utils", "read.table", "write.table")
importFrom("stats", "ks.test", "p.adjust", "quantile")
importFrom("utils", "combn")
import("ggplot2")
export(scmageck_lr)
export(scmageck_rra)
export(pre_processRDS)
export(featurePlot)
export(selectPlot)
